/* Navbar */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.border-line-red {
  background-color: transparent;
  border-radius: 10px;
  border: solid 2px #e91e63;
}

.bg-dark {
  color: white;
}

.h1-admin {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h1-modify {
  margin-left: 20px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
  width: 150px;
  border-radius:20px;
  text-align: center;
}

.footer {
  margin: 0px;
  padding: 0px;
}

.row {
  margin: auto;
  padding: auto;
}

.ml-auto {
  margin-left: auto;
  margin-right: 20px;
}

.no-products{
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.topnav-registration {
  margin-top: 5px;
}

.topnav-basket {
  margin-left: auto;
  margin-right: auto;
}

.img-products {
  width: auto;
  height: auto;
}

.img-social-kando {
  border-radius: 50%;
}

.jog {
  color: white;
  text-align: center;
  padding: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
* {
  font-family: "Anta", sans-serif;
}

/* Footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  margin-right: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;  
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  margin-left: 30px;
  margin-right: auto;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 40px;
  bottom: -10px;
  background-color: #27cc0e;
  height: 2px;
  box-sizing: border-box;
  width: 150px;
  margin-right: auto;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  text-align: center;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
  margin-left: auto;
  margin-right: auto;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-left: 20px;
  margin-right: auto;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*Footer responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.footer {
  width: 100%;
  max-width: 100%;
}
.footer {
  width: 100%;
  max-width: 100%;
}
/*Kosár*/
.btn-custom-red{
  background-color: transparent; /* Transparent background */
  color: #000000; /* Text color (can be any color you want) */
  font-size: 12px; /* Font size */
  padding: 5px 5px; /* Padding around the text */
  border:none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* gomb hover piros */
.btn-custom-red:hover {
  background-color: #fc7b7b; /* Background color on hover */
  color: white; /* Text color on hover */

}
.btn-custom-green{
  background-color: transparent; /* Transparent background */
  color: #000000; /* Text color (can be any color you want) */
  font-size: 12px; /* Font size */
  padding: 5px 5px; /* Padding around the text */
  border:none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* gomb hover zöld */
.btn-custom-green:hover {
  background-color: #7bfc90; /* Background color on hover */
  color: white; /* Text color on hover */
}
.box {
  display: flex;
  align-items:normal;
  justify-content: space-between; /* Elemek közötti egyenlő távolság */
  padding: 10px;
  border: 1px solid #989393;
  border-radius: 8px;
  background-color: #f9f9f9;
  gap: 20px; /* Távolság az elemek között */
}

/* Bal oldal: Terméknév és ár */
.product-info {
  display: flex;           /* Vízszintes elrendezés */
  align-items: center;     /* Középre igazítja a terméket és az árat */
  gap: 10px;               /* Kisebb távolság a név és az ár között */
}

.product-name {
  font-weight: bold;
  font-size: 1rem;
}

.product-price {
  font-size: 0.9rem;
  color: #555;
}

/* Középen: Mennyiség */
.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 0;   /* Nincs eltolás, hogy középen maradjon */
}

.quantity-value {
  min-width: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Jobb oldal: Kuka gomb */
.trash-button {
  margin-left: auto;
  padding: 5px 10px;
}
/*színek: #27cc0e zöld, #fe0000 piros */

/* About us */
.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.section-container {
  display: flex;
  flex-direction:inherit;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}

.section {
  flex: 2;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(183, 50, 50, 0.5);
  margin: 10px;
  color: black;
}

.product-info {
  padding: 10px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.product-description {
  font-size: 14px;
  color: #666;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #d32f2f;
  margin-top: 10px;
  display: block;
}
/*kosrába gomb*/
.add-to-cart {
    background-color: #233242;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
  display: block;
  margin-left: auto; /* Jobbra igazítás */
}

.add-to-cart:hover {
  background-color: #0056b3;
}

/* home lista hover*/
ul {
  list-style-type: none; /* Töröljük a lista pontokat */
  padding-left: 0; /* Eltávolítjuk a bal oldali behúzást */
  text-align: left; /* A lista balra igazítása */
}

li {
  font-size: 18px; /* A listaelemek betűmérete */
  margin-bottom: 10px; /* Az egyes listaelemek közötti távolság */
  color: #fff; /* A szöveg színe */
}

li:hover {
  color: #fe0000; /* Szöveg színének változtatása hover állapotban */
  cursor: pointer; /* A kurzor változása pointerre */
}
.swiper-button-next,
.swiper-button-prev {
  color: #8a8380; /* Az alap szín */
}

/* Hover állapot: amikor az egér a nyilak fölé kerül */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffffff; /* A színváltozás hover hatására */
}
/* Az összes pötty alap stílusa */
.swiper-pagination-bullet {
  background-color: #888787; /* Szürke szín */
  width: 30px; /* Pöttyök szélessége */
  height: 5px; /* Pöttyök magassága */
  border-radius: 5%; /* Lekerekített sarkok */
  margin: 0 5px; /* Távolság a pöttyök között */
  transition: background-color 0.3s, transform 0.3s; /* Animáció */
}

/* Az aktív (kiemelt) pötty */
.swiper-pagination-bullet-active {
  background-color:#130232; /* Aktív pötty színe */
  transform: scale(1.2); /* Aktív pötty nagyobb méretben */
}

.card-body, .card-footer {
  background-color: #212529 !important; /* Bootstrap sötét háttér */
  color: white !important;
  border: none !important;
}

.product-card {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.2s;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image-container {
  width: 100%;
  height: 200px; /* Egységes magasság */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* háttér a kisebb képekhez */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px; /* kis tér a kép körül */
}

.product-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-card img {
  width: 100%;
  height: auto; /* Automatikus magasság a képhez */
  object-fit: contain;
  background-color: #fff;
}

.product-card .card-body {
  padding: 1rem;
  text-align: center;
}

.product-card h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #ccc;
}

.product-card:hover {
  transform: scale(1.02);
}
/* Hover effektus a címekhez */
.service-title {
  transition: color 0.3s ease, transform 0.3s ease;
}

.service-title:hover {
  color: #fe0000; 
  transform: scale(1.1) translateX(18px); 
}

.carousel-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}
.carousel-image {
  width: 100%;
  height: 100vh;
  object-fit:cover;
  object-position: center;
}
